/* TtemList.js */

#mask {
  background-color: rgba(0,0,0,.75);
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: 4;
}

#mask.hidden {
  transform: translate(0, -500px);
}

#mask.mask-hidden {
  display: none;
}

#modal {
width: 400px;
margin: 200px auto;
box-sizing: border-box;
}

.modal-list {
  justify-content: center;
}

.modal-btns {
  background-color: #fff;
  width: 400px;
  height: 150px;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  border-radius: 12px;
}

.modal-btns button{
  line-height: 48px;
  margin: 0;
  text-align: center;
  cursor: pointer;
  font-size: 14px;
  background-color: transparent;
  cursor: pointer;
  border: 0;
  outline: none;
}

.modal-btns button:nth-child(1) {
  border-top-left-radius: 12px;
  border-top-right-radius: 12px; 
  border-bottom: 1px solid #90949C;
}

.modal-btns button:nth-child(3) {
  border-bottom-left-radius: 12px;
  border-bottom-right-radius: 12px; 
  border-top: 1px solid #90949C;
}









.item-list-pos { 
  width: 935px;
  margin: 132px auto 0;
}

.item-list {
  flex-direction: row;
  display: flex;
  margin-bottom: 25px;
}









.message-list {
  flex-direction: row;
  flex-wrap: wrap;
  display: flex;
  margin-bottom: 25px;
}

.message-list > :nth-child(3n+3) {
  margin-right: 0px;
}

.an-items-pos {
  margin-right: 27px;
  margin-bottom: 27px;
}

.an-items-pos a {
  display: inline-block;
  color: inherit;
  text-decoration: none;
  cursor: pointer;
}

.an-item {
  width: 293px;
  background-color: #FFFFFF;
  box-shadow: 0px 20px 40px rgba(0,0,0,0.4);
}

.loading-box {
  width: 293px;
  height: 430px;
  background-color: #FFFFFF;
  box-shadow: 0px 20px 40px rgba(0,0,0,0.4);
}

.title-text-area {
  padding: 20px 20px 0 20px;
}

.profile-img {
  width: 48px;
  height: 48px;
  margin-bottom: 12px;
}

.profile-img img {
  width: 100%;
  height: 100%;
  border-radius: 50%;
}

.title {
  font-size: 16px;
  line-height: 32px;
  margin-bottom: 12px;
  font-weight: 800;
  color: #1D2129;
}

.textarea-list {
  position: relative;
}

.grad-textarea-list {
  position: relative;
  overflow: hidden;
  height: 62px; /*隠した状態の高さ*/
  font-size: 14px;
  margin-bottom: 10px;
}

.grad-textarea-list::before {
  display: block;
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 20px; /*グラデーションで隠す高さ*/
  background: -webkit-linear-gradient(top, rgba(255,255,255,0) 0%, rgba(255,255,255,0.9) 50%, rgba(255,255,255,0.7) 50%, #fff 100%);
  background: linear-gradient(top, rgba(255,255,255,0) 0%, rgba(255,255,255,0.9) 50%, rgba(255,255,255,0.7) 50%, #fff 100%);
  content: "";
}


.an-item-img {
  width: 100%;
  height: 200px;
  padding-top: 20px;
}

.an-item-img img {
  width: 100%;
  height: 100%;
}

/* ItemPage.js */

#mask-1 {
  background-color: rgba(0,0,0,.75);
  /* position: fixed; */
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: 4;
}

#mask-1.hidden {
  transform: translate(0, -500px);
}

#mask-1.mask-hidden {
  display: none;
}


.container {
  margin-top: 66px;
  margin-bottom: 66px;
}

.page-wrapper {
  width: 700px;
  margin: 132px auto 0;
  box-shadow: 0px 20px 40px rgba(0,0,0,0.4);
}

.the-item {
  width: 100%;
  height: 100%;
  background-color: #FFFFFF;
}

.container-photo {
  margin: 70px 0;
}

.photo-of-the-item {
  width: 100%;
}

.photo-of-the-item img {
  width: 100%;
}

.titletext-area-pos-of-the-item {
  margin-bottom: 66px;
}

.titletext-area-of-the-item {
  width: 400px;
  margin: 0 auto;
}

.titletext-area-of-the-item h1 {
  margin-bottom: 16px;
}

.post-day {
  margin-bottom: 16px;
  color: #90949C;
}



.bad {
  margin-bottom: 16px;
  border-radius: 3px;
  height: 20px;
  padding: 2px;
  outline: none;
  border-color: rgb(189, 189, 189);
}

.good {
  font-weight: bold;
  background-color: #4267b2;
  color: #fff;
  border-color: #4267b2;
  margin-bottom: 16px;
  border-radius: 3px;
  height: 20px;
  padding: 2px;
  outline: none;
}

.text-area {
  position: relative;
}

.grad-btn {
  position: absolute;
  bottom: -35px;
  left: 0;
  right: 0;
  z-index: 2;
  margin: auto;
  width: 85px;
  box-sizing: border-box;
  background: #3897f0;
  color: #fff;
  border-radius: 3px;
  font-weight: 100;
  padding: 1px 3px 1px 3px;
  text-align: center;
}

.grad-btn::before {
  content: "More Read";
}

.grad-text-area {
  position: relative;
  overflow: hidden;
  height: 80px; /*隠した状態の高さ*/
  font-size: 14px;
  font-size: 16px;
  margin-bottom: 66px;
}
.grad-text-area::before {
  display: block;
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 40px; /*グラデーションで隠す高さ*/
  background: -webkit-linear-gradient(top, rgba(255,255,255,0) 0%, rgba(255,255,255,0.9) 50%, rgba(255,255,255,0.9) 50%, #fff 100%);
  background: linear-gradient(top, rgba(255,255,255,0) 0%, rgba(255,255,255,0.9) 50%, rgba(255,255,255,0.9) 50%, #fff 100%);
  content: "";
}
.grad-trigger {
  display: none; /*チェックボックスは常に非表示*/
}
.grad-trigger:checked + .grad-text-area {
  display: none; /*チェックされていたら、grad-text-areaを非表示にする*/
}

.grad-trigger:checked ~ .grad-btn::before {
  content: "Close"
}

.grad-trigger:checked ~ .grad-text-area {
  height: auto; /*チェックされていたら、高さを戻す*/
}
.grad-trigger:checked ~ .grad-text-area::before {
  display: none; /*チェックされていたら、grad-itemのbeforeを非表示にする*/
}





.text-of-the-item {
  font-size: 16px;
  margin-bottom: 66px;
}

.edit-area {
  text-align: right;
}

.update {
  margin-right: 20px;
}

/* ItemPost.js */
/* ItemUpdate.js */

.title-post-item {
  padding: 32px 16px;
  font-size: 22px;
  text-align: center;
  border-bottom: 1px solid #EEE;
}

.photo-pos-box {
  width: 620px;
  padding: 40px;
}

.photo-pos-box h3 {
  font-size: 16px;
}

.photo-drop-box {
  width: 620px;
  display: block;
}

.is-img-box {
  display: flex;
  flex-direction: row;
}

.is-img-box div {
  margin: auto 10px auto 0;
}
.is-img-box img {
  width: 200px;
}

.is-img {
  height: 100px;
  width: 100%;
  padding: 40px;
  background-color: #f5f5f5;
  border: 1px dashed #ccc;
  cursor: pointer;
  flex-grow: 3;
}

.photo-upload-drop-box {
  height: 100px;
  padding: 40px;
  background-color: #f5f5f5;
  border: 1px dashed #ccc;
  cursor: pointer;
  position: relative;
}

.photo-upload-drop-box input {
  display: none;
}

.filr-area {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  text-align: center;
  cursor: pointer;
}

.filr-area pre {
  position: absolute;
}

.title-text-post-box {
  padding: 40px;
  border-top: 1px solid #EEE;
}

.title-post-box div {
  background-repeat: no-repeat;
  margin: 0;
  padding: 0;
}

.title-post-box label {
  font-weight: bold;
}

.title-post-box input {
  width: 100%;
  margin: 8px 0 0;
  height: 48px;
  padding: 8px 16px 8px;
  border: 1px solid #ccc;
  background: #fff;
  font-size: 16px;
  line-height: 1.5;
  border-radius: 3px;
  box-sizing: border-box;
}

.text-post-box {
  margin-top: 40px;
}

.text-post-box label {
  font-weight: bold;
}

.text-post-box textarea {
  display: block;
  box-sizing: border-box;
  width: 100%;
  height: 104px;
  padding: 10px;
  border: 1px solid #ccc;
  font-size: 16px;
  line-height: 1.5;
  margin: 8px 0 0;
}

.submit-button {
  padding: 40px;
  text-align: center;
}

.submit-button button {
  background: skyblue;
  color: #fff;
}






#mask-for-postpage {
  background-color: rgba(0,0,0,.75);
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: 2;
}

#mask-for-postpage.hidden {
  transform: translate(0, -500px);
}

#mask-for-postpage.mask-hidden {
  display: none;
}

#modal-for-postpage {
width: 400px;
margin: 200px auto;
box-sizing: border-box;
}

.modal-for-postpage-list {
  justify-content: center;
}

.modal-for-postpage-btns {
  background-color: #fff;
  width: 400px;
  height: 100px;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  border-radius: 12px;
}

.modal-for-postpage-btns button{
  line-height: 48px;
  margin: 0;
  text-align: center;
  cursor: pointer;
  font-size: 14px;
  background-color: transparent;
  cursor: pointer;
  border: 0;
  outline: none;
}

.modal-for-postpage-btns button:nth-child(1) {
  border-top-left-radius: 12px;
  border-top-right-radius: 12px; 
  border-bottom: 1px solid #90949C;
}

.modal-for-postpage-btns button:nth-child(3) {
  border-bottom-left-radius: 12px;
  border-bottom-right-radius: 12px; 
  border-top: 1px solid #90949C;
}


/* Profiel.js */

.main {
  margin-top: 66px;
  margin-bottom: 66px;
}

.profile-page-wrapper {
  width: 700px;
  margin: 132px auto 0;
  padding: 20px;
  box-shadow: 0px 20px 40px rgba(0,0,0,0.4);
  background-color: #FFFFFF;
}

.ser-data {
  width: 100%;
  height: 100%;
  flex-direction: row;
  display: flex;
  margin-bottom: 44px;
}

.profile-photo-area {
  flex-basis: 0;
  flex-grow: 1;
}

.profile-photo-pos {
  margin-right: auto;
  margin-left: auto;
  /* height: 152px;
  width: 152px; */
}

.profile-photo {
  border-radius: 50%;
}

.profile-photo button {
  width: 100%;
  height: 100%;
  border: 0;
  padding: 0;
}

.profile-photo img {
  /* width: 100%;
  height: 100%; */
  height: 152px;
  width: 152px;
  border-radius: 50%;
}

.profile-photo-pos form {
  margin: 0;
  padding: 0;
  border: 0;
}

.profile-photo-pos input {
  display: none;
}

.profile-area {
  flex-grow: 2;
  flex-basis: 30px;
}

.profile-username h1 {
  margin: 0 0 20px 0;
}

.profile-edit-button {
  margin-bottom: 20px;
}

.profile-area ul {
  margin: 0 0 20px 0;
  padding: 0;
  display: flex;
  flex-direction: row;
  list-style: none;
}

.profile-area ul li {
  margin: 0 40px 0 0;
  font-size: 16px;
}

.profile-text-area {
  width: 380px;
  margin: 0 auto;
  margin-bottom: 40px;
}

.profile-text-area h1 {
  margin: 0 0 20px 0;
  display: inline;
  font-size: 24px;
}

/* ProfileUpdate.js */

.main {
  margin-top: 66px;
  margin-bottom: 66px;
}

.profile-editpage-wrapper {
  width: 700px;
  margin: 0 auto;
  padding: 20px;
  box-shadow: 0px 20px 40px rgba(0,0,0,0.4);
  background-color: #FFFFFF;
}

.edit-page {
  width: 100%;
  height: 100%;
  flex-direction: row;
  display: flex;
  margin-bottom: 44px;
  margin: 32px 0 0;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}

.profile-photo-area {
  height: 38px;
  width: 38px;
  margin: 0 32px 0 188px;
  border-radius: 50%;
  box-sizing: border-box;
}

.profile-photo-area button {
  border: 0;
  cursor: pointer;
  padding: 0;
  height: 100%;
  width: 100%;
}

.profile-photo-area img {
  height: 100%;
  width: 100%;
  border-radius: 50%;
}

.profile-photo-area form {
  border: 0;
  padding: 0;
  margin: 0;
}

.profile-photo-area input {
  display: none;
}

.profile-photo-edit h1 {
  font-size: 20px;
  line-height: 22px;
  margin: 0;
  padding: 0;
  border: 0;
  
}

.profile-photo-edit button {
  border: 0;
  display: inline;
  padding: 0;
  cursor: pointer;
  color: #3897f0;
  font-weight: bold;
}

.profile-photo-edit form {
  border: 0;
  padding: 0;
  margin: 0;
}

.profile-photo-edit input {
  display: none;
}

.profile-edit-form {
  display: flex;
  flex-direction: column;
  margin-top: 16px;
  margin-bottom: 16px;
}

.profile-form-item {
  margin-bottom: 16px;
  justify-content: flex-start;
  display: flex;
  flex-direction: row;
}

.profile-form-title {
  padding-right: 32px;
  padding-left: 32px;
  text-align: right;
  margin-top: 6px;
  flex: 0 0 194px;
}

.profile-form-input {
  flex-basis: 355px;
  flex-direction: row;
  padding-right: 60px;
  color: #262626;
  flex-grow: 1;
  font-size: 16px;
  justify-content: flex-start;
  box-sizing: border-box;
  display: flex;
}

.profile-form-input input {
  border: 1px solid #efefef;
  border-radius: 3px;
  color: #262626;
  box-sizing: border-box;
  flex: 0 1 355px;
  font-size: 16px;
  height: 32px;
  padding: 0 10px;
}

.profile-form-input input[type='textarea'] {
  height: 60px;
  padding: 6px 10px;
  resize: vertical;
}